<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Success Upload</title>
    </head>
    <body>
        <h2>{{.Name}}</h2>
        <a href="{{.File}}">File</a>
    </body>
</html>